header{
    background: linear-gradient(to right,blue,red,green);
    align-content: center;
    justify-content: center;
    text-align: center;
    background-size: 100% 500%;
    animation: degrade-animado 5s infinite alternate;
}
@keyframes degrade-animado{
    0%{
        background-position-x:0%;
    }
    100%{
        background-position-x: 100%;
    }
}
